@import url(https://fonts.google.com/specimen/Inter);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: 80%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h2{
    font-size: 40px;
    font-weight: 700;
}

.title p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

/* theme switch */

.switch-mode{
    display: flex;
    align-items: center;
}
.mode{
    margin-right: 5px;
    font-family: 'Inter', sans-serif ;
}
.switch{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.6rem;
    justify-content: center;
}

.switch input {
    display: none;
}
 
.slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(230, 22%, 74%);
    transition: .4s;
    border-radius: 1rem;
    cursor: pointer;
} 

.slider:before{
    content: "";
    position: absolute;
    height: 1.1rem;
    width: 1.1rem;
    left: 1.6rem;
    bottom: .23rem;
    background: #fff;
    transition: .4s;
    border-radius: 50%;
    transition: transform .35s ease-in-out;
    cursor: pointer;
} 

input:checked ~ .slider{
    background-image: linear-gradient(90deg, hsl(210, 78%, 56%) ,hsl(146, 68%, 55%));
}

input:checked ~ .slider:before{
    transition: transform .35s ease-in-out;
    transform: translateX(-1.2rem);
    background: hsl(232, 19%, 15%);
}
/* end */
body.dark-mode {
    background-color: hsl(230, 17%, 14%);
    color: hsl(0, 0%, 100%);
}

body.dark-mode .stat-card, body.dark-mode .overview-card {
    background-color: hsl(228, 28%, 20%);
    color: hsl(228, 34%, 66%);
}
body.dark-mode .stat-card h1{
    color:hsl(0, 0%, 100%);
}

body.dark-mode .title p, body.dark-mode .mode{
    color: hsl(228, 34%, 66%);
}

body.dark-mode .change.positive {
    color: #66ff66;

}

body.dark-mode .change.negative {
    color: #ff6666;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro img{
    margin-right: 10px;
}
h1{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 10px 0;
} 

.stats, .overview {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}


.stat-card  {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 95%;
    height: 200px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.overview-card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 95%;
    height: 150px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10px;
}

.stat-card p, .overview-card p {
    margin: 0;
}

.stat-card h2, .overview-card h2 {
    margin: 10px 0;
}
.change{
    display: flex;
    flex-direction: row;
}
.change img {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    align-self: center;
}

.change.positive {
    color: green;
    /* align-content: center; */
    align-self: center;
    

}

.change.negative {
    color: red;
    align-self: center;
    
}

.followers{
    letter-spacing: 5px;
    padding-bottom: 15px;
}

.stat-card.facebook {
    border-top: 5px solid #1877f2;
}
.stat-card.twitter {
    border-top: 5px solid #1da1f2;
}

.stat-card.instagram {
    border-top: 5px solid #e1306c;
}

.stat-card.youtube {
    border-top: 5px solid #ff0000;
}

.section1{
    display: flex;
    justify-content: space-between;

}

.section2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.attribution {
     font-size: 11px;
     text-align: center;
     
}
.attribution a {
         color: hsl(228, 45%, 44%);
 }

 @media only screen and (max-width: 375px){
    .container{
        width: 90%;
    }
    .header{
         flex-direction: column;
    }
    .title{
        width: 90%;
        border-bottom: 2px solid hsl(230, 17%, 14%);
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 20px;
    } 
    .title h2{
        font-size: 25px;
    }
    body.dark-mode .title{
        border-bottom: 1px solid hsl(0, 0%, 100%);
    }
    .switch-mode{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;

    }

    
    
    .stats{
         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
         gap: 10px;
         margin-bottom: 10px;
         
    }
    .overview{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

 }
    